$desktop: 1024px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

.postTitleInfo {
  padding: 2rem 1rem 1rem 1rem;
  h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  @include desktop {
    h1 {
      font-size: 4rem;
    }
  }
}
.newsPostContent {
  padding: 2rem 1rem 1rem 1rem;
}
@include desktop {
  .postTitleInfo,
  .newsPostContent {
    padding: 2rem 0;
  }
}
