$desktop: 1024px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
#mobileNavContainer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  @include desktop {
    display: none;
  }
}
#menuContent {
  display: flex;
  justify-content: space-between;
}
.ant-drawer-wrapper-body {
  font-family: "Open Sans", sans-serif;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: start;
  }
  a {
    color: #585858;
  }
}
