$desktop: 1024px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
  color: #4c5469;
}
p {
  font-family: "Roboto", sans-serif;
  color: #585858;
}
* {
  line-height: 1.5;
  line-height: 1.5;
  letter-spacing: 0.7px;
}
.headerPhoto {
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;

  h1 {
    color: white;
    font-size: 3rem;
    margin: 0;
  }
}
#topMenu {
  display: flex;
  justify-content: flex-end;
  @include desktop {
    justify-content: space-between;
    padding: 1rem;
  }
  h3,
  a {
    margin: 0;
    align-self: center;
    font-weight: bold;
    display: none;
    @include desktop {
      display: block;
    }
  }
}
