#footerContainer {
  #subSection {
    h1 {
      text-align: center;
      margin-bottom: 2rem;
    }
    .ant-input {
      width: 13rem;
    }
    .ant-btn {
      background-color: #3a3a3a;
      color: white;
    }
  }
  hr {
    margin: 2rem 2rem;
  }
}
